@font-face {
  font-family: Gilroy-regular;
  src: url(../assets/fonts/Gilroy/Gilroy-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy/Gilroy-Bold.ttf);
  font-style: bold;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.avatar {
  border-radius: 250px !important;
}

.gradient-title {
  background: -webkit-linear-gradient(#d5569a 8.13%, #29009f 92.46%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

h1 {
  letter-spacing: 3px;
  font-size: 3.7rem;
  font-weight: 700;
  font-family: Gilroy, "Poppins";
}

h2 {
  line-height: 4rem;
  font-size: 3rem;
  color: #1f0076;
}

.fluid {
  padding: 0 5rem !important;
}

@media (max-width: 580px) {
  .fluid {
    padding: 0 2rem !important;
  }
  h1 {
    letter-spacing: 1px;
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
}

.fadeInUp {
  -webkit-animation: fadeInUp 1s;
          animation: fadeInUp 1s;
}

.scale {
  -webkit-animation: scale 1s;
          animation: scale 1s;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (prefers-reduced-motion) {
  .fadeInUp,
  .scale {
    -webkit-animation: none;
            animation: none;
  }
}

header {
  background: linear-gradient(254.81deg, #d5569a 8.13%, #29009f 92.46%);
  color: #ffffff;
  position: relative;
  /** For tablet devices **/
}

header nav .navbar-toggler {
  background-color: white !important;
}

header nav .navbar-collapse {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1 !important;
      -ms-flex-positive: 1 !important;
          flex-grow: 1 !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav a {
  font-size: 1.1rem !important;
}

header nav a.navbar-brand {
  -webkit-box-flex: 1 !important;
      -ms-flex-positive: 1 !important;
          flex-grow: 1 !important;
}

header .hero {
  font-family: Gilroy, "Poppins";
  height: 90vh;
}

header .hero * {
  z-index: 3;
}

header .hero p {
  font-family: Gilroy, "Poppins";
}

header .hero button {
  color: #ffffff !important;
}

header .hero button span {
  margin-right: 10px !important;
}

header .ellipse {
  z-index: 1;
}

header .ellipse img {
  position: absolute;
  bottom: -5%;
  right: 20%;
}

@media (max-width: 580px) {
  header .hero {
    height: 90vh;
  }
  header .hero button {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  header .hero button span {
    margin-right: 5px !important;
  }
}

header .custom-shape-divider-bottom-1646165309 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header .custom-shape-divider-bottom-1646165309 svg {
  position: relative;
  display: block;
  width: calc(158% + 1.3px);
  height: 137px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

header .custom-shape-divider-bottom-1646165309 .shape-fill {
  fill: #ffffff;
}

@media (min-width: 768px) and (max-width: 1023px) {
  header .custom-shape-divider-bottom-1646165309 svg {
    width: calc(177% + 1.3px);
    height: 137px;
  }
}

@media (max-width: 580px) {
  #mission .mission {
    margin: 0 auto !important;
  }
  #mission .mission h2 {
    text-align: center;
    line-height: 3rem;
  }
  #mission .mission .box > div {
    padding-top: 0 !important;
  }
}

#services .services {
  padding: 15rem 0;
  padding-bottom: 5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#d4c5ff), to(rgba(240, 234, 255, 0)));
  background: linear-gradient(180deg, #d4c5ff 0%, rgba(240, 234, 255, 0) 100%);
  /** For mobile devices **/
}

#services .services .fluid * {
  z-index: 2;
}

#services .services .ellipse {
  position: absolute;
  z-index: 1;
  right: 30%;
  top: 0%;
}

#services .services h4 {
  line-height: 2rem;
}

#services .services .box {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

#services .services .custom-shape-divider-top-1646172123 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

#services .services .custom-shape-divider-top-1646172123 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 177px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#services .services .custom-shape-divider-top-1646172123 .shape-fill {
  fill: #ffffff;
}

@media (max-width: 767px) {
  #services .services .custom-shape-divider-top-1646172123 svg {
    width: calc(300% + 1.3px);
    height: 95px;
  }
}

@media (max-width: 580px) {
  #services .services {
    padding: 8rem 0;
    padding-bottom: 4rem;
    margin: 0 auto !important;
  }
  #services .services h2 {
    line-height: 3rem;
  }
  #services .services .row {
    padding-top: 1rem !important;
    padding-bottom: 0 !important;
  }
}

#projects .projects {
  background-color: #1f0076;
  padding: 6rem 0;
}

#projects .projects img {
  border-radius: 7px !important;
}

#projects .projects a {
  text-decoration: none !important;
}

#projects .projects span {
  text-decoration: underline;
  margin-right: 10px;
}

#projects .projects .dash {
  border-bottom: 2px dashed #ffffff;
}

@media (max-width: 580px) {
  #projects .projects {
    padding: 3rem 1rem;
  }
  #projects .projects button {
    margin-top: 1rem !important;
  }
  #projects .projects .row > div {
    padding: 0 !important;
  }
}

#testimonials .box {
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background-color: #ffffff;
}

#subscribe .ellipse {
  position: absolute;
  top: -4%;
  left: 2%;
}

#subscribe .wrapper {
  background: linear-gradient(254.81deg, #d5569a 8.13%, #29009f 92.46%);
  border-radius: 50px;
}

#subscribe .wrapper input.form-control {
  border-radius: 10px 0 0 10px;
}

#subscribe .wrapper #button-addon2 {
  border-radius: 0 10px 10px 0;
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#ede7ff));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ede7ff 100%);
}

footer .footer {
  padding: 5rem 0 !important;
}

footer .footer .icons li {
  margin-right: 15px !important;
}

@media (max-width: 580px) {
  footer .footer {
    padding: 3rem 0 !important;
  }
  footer ul {
    padding-left: 0 !important;
    margin-left: 0 !important;
  }
  footer h4 {
    margin-top: 2rem !important;
  }
  footer .box-1 p {
    display: none;
  }
  footer .foot {
    display: block !important;
  }
}
