@font-face {
  font-family: Gilroy-regular;
  src: url(../assets/fonts/Gilroy/Gilroy-Regular.ttf);
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  src: url(../assets/fonts/Gilroy/Gilroy-Bold.ttf);
  font-style: bold;
}

$primary-color: #29009f;
$primary-light: #d5569a;
$text-light: #ffffff;
$button-purple: #612ff1;
$gradient-color: linear-gradient(254.81deg, #d5569a 8.13%, #29009f 92.46%);

$primary: #1f0076;
$secondary: #612ff1;
$info: #d5569a;
$link-color: $primary-light;
$h6-font-size: 12px;

@import "../node_modules//bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.gradient-title {
  background: -webkit-linear-gradient(#d5569a 8.13%, #29009f 92.46%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

h1 {
  letter-spacing: 3px;
  font-size: 3.7rem;
  font-weight: 700;
  font-family: Gilroy, "Poppins";
}

h2 {
  line-height: 4rem;
  font-size: 3rem;
}

.fluid {
  padding: 0 5rem !important;
}

@media (max-width: 580px) {
  .fluid {
    padding: 0 2rem !important;
  }

  h1 {
    letter-spacing: 1px;
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}

ul {
  list-style: none;

  a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
  }
}

.fadeInUp {
  animation: fadeInUp 1s;
}

.scale {
  animation: scale 1s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (prefers-reduced-motion) {
  .fadeInUp,
  .scale {
    animation: none;
  }
}

header {
  background: $gradient-color;
  color: $text-light;

  nav {
    .navbar-toggler {
      background-color: white !important;
    }

    .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1 !important;
      align-items: center;
    }

    a {
      font-size: 1.1rem !important;
    }

    a.navbar-brand {
      flex-grow: 1 !important;
    }
  }

  .hero {
    font-family: Gilroy, "Poppins";
    height: 100vh;
    margin-top: 8rem !important;

    p {
      font-family: Gilroy, "Poppins";
    }

    button {
      color: $text-light !important;

      span {
        margin-right: 10px !important;
      }
    }
  }
  @media (max-width: 580px) {
    .hero {
      height: 90vh;
    }
  }

  // curved end style
  .custom-shape-divider-bottom-1646165309 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1646165309 svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 137px;
    transform: rotateY(180deg);
  }

  .custom-shape-divider-bottom-1646165309 .shape-fill {
    fill: #ffffff;
  }

  /** For tablet devices **/
  @media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-bottom-1646165309 svg {
      width: calc(177% + 1.3px);
      height: 137px;
    }
  }
}

#mission {
  @media (max-width: 580px) {
    .mission {
      margin: 0 auto !important;

      h2 {
        text-align: center;
        line-height: 3rem;
      }

      .box > div {
        padding-top: 0 !important;
      }
    }
  }
}

#services {
  .services {
    padding: 15rem 0;
    background: linear-gradient(
      180deg,
      #d4c5ff 0%,
      rgba(240, 234, 255, 0) 100%
    );

    h4 {
      line-height: 2rem;
    }

    .box {
      background: $text-light;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
      border-radius: 8px;
    }

    //   curved
    .custom-shape-divider-top-1646172123 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
    }

    .custom-shape-divider-top-1646172123 svg {
      position: relative;
      display: block;
      width: calc(300% + 1.3px);
      height: 177px;
      transform: rotateY(180deg);
    }

    .custom-shape-divider-top-1646172123 .shape-fill {
      fill: #ffffff;
    }

    /** For mobile devices **/
    @media (max-width: 767px) {
      .custom-shape-divider-top-1646172123 svg {
        width: calc(300% + 1.3px);
        height: 95px;
      }
    }
  }

  @media (max-width: 580px) {
    .services {
      padding: 8rem 0;
      padding-bottom: 0;
      margin: 0 auto !important;

      h2 {
        line-height: 3rem;
      }

      .row {
        padding-top: 1rem !important;
        padding-bottom: 0 !important;
      }
    }
  }
}

#projects {
  .projects {
    background-color: $primary-color;
    padding: 6rem 0;

    img {
      border-radius: 7px !important;
    }

    a {
      text-decoration: none !important;
    }

    span {
      text-decoration: underline;
      margin-right: 10px;
    }

    .dash {
      border-bottom: 2px dashed #ffffff;
    }
  }

  @media (max-width: 580px) {
    .projects {
      padding: 3rem 1rem;

      button {
        margin-top: 1rem !important;
      }

      .row > div {
        padding: 0 !important;
      }
    }
  }
}

#clients {
  @media (min-width: 580px) {
    img {
      max-width: 120px;
    }
  }
}

footer {
  .footer {
    background-color: $primary-color;
    padding: 5rem 0 !important;

    .icons {
      li {
        margin-right: 15px !important;
      }
    }
  }
  @media (max-width: 580px) {
    .footer {
      padding: 3rem 0 !important;
    }
    ul {
      padding-left: 0 !important;
      margin-left: 0 !important;
    }

    h4 {
      margin-top: 2rem !important;
    }

    .box-1 {
      p {
        display: none;
      }
    }
    .foot {
      display: block !important;
    }
  }
}
