@import "./utils";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.avatar {
  border-radius: 250px !important;
}

.gradient-title {
  background: -webkit-linear-gradient(#d5569a 8.13%, #29009f 92.46%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

h1 {
  letter-spacing: 3px;
  font-size: 3.7rem;
  font-weight: 700;
  font-family: Gilroy, "Poppins";
}

h2 {
  line-height: 4rem;
  font-size: 3rem;
  color: $primary;
}

.fluid {
  padding: 0 6rem !important;
}

@media (max-width: 580px) {
  .fluid {
    padding: 0 2rem !important;
  }

  h1 {
    letter-spacing: 1px;
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 50px;
  }
}

ul {
  list-style: none;

  a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
  }
}

.fadeInUp {
  animation: fadeInUp 1s;
}

.scale {
  animation: scale 5s linear infinite;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

header {
  background: url("../assets/images/bg.svg") no-repeat center center/cover;
  color: $text-light;

  nav {
    background: $text-light;

    .navbar-toggler {
      border: 3px solid gray !important;
    }

    .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1 !important;
      align-items: center;
    }

    a {
      font-size: 1.1rem !important;
      font-weight: 500;
    }

    a.navbar-brand {
      flex-grow: 5 !important;

      img {
        width: 50px;
      }
    }
  }

  .hero.home {
    min-height: 120vh;

    .text {
      padding-right: 8rem !important;
    }

    button {
      // color: $text-light !important;

      span {
        margin-right: 10px !important;
      }
    }
    @media (max-width: 1180px) {
      .text {
        padding-right: 2rem !important;
      }
    }
  }

  @media (max-width: 980px) {
    nav {
      .action-button {
        padding-bottom: 10px;
      }
    }
    .hero {
      padding-top: 2rem !important;
      min-height: 90vh;

      .text {
        h1 {
          font-size: 2.3rem;
        }
      }
    }
  }

  @media (max-width: 580px) {
    nav {
      .action-button {
        padding-bottom: 10px;
      }
    }
    .hero {
      padding-top: 2rem !important;
      min-height: 90vh;

      .text {
        padding-right: 0 !important;

        h1 {
          font-size: 2.5rem;
          letter-spacing: 0px;
        }

        p {
          font-size: 10px;
        }
      }

      button {
        padding-left: 10px !important;
        padding-right: 10px !important;
        margin-top: 10px !important;

        span {
          margin-right: 5px !important;
        }
      }
    }
  }
}

#subscribe {
  .wrapper {
    background: $gradient-color;
    border-radius: 50px;
    padding: 10px;

    .input-group {
      height: 50px !important;
      border-radius: 10px;
      background-color: $text-light;
      padding: 6px 5px !important;

      input.form-control {
        border-radius: 10px;
        outline: none !important;
        border: none !important;

        &:focus {
          box-shadow: none !important;
        }
      }

      #button-addon2 {
        border-radius: 10px;
      }
    }
  }
}

footer {
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ede7ff 100%
  );
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ede7ff 100%);

  .footer {
    padding: 5rem 0 !important;

    .icons {
      li {
        margin-right: 15px !important;
      }
    }
  }
  @media (max-width: 580px) {
    .footer {
      padding: 3rem 0 !important;
    }
    ul {
      padding-left: 0 !important;
      margin-left: 0 !important;
    }

    h4 {
      margin-top: 2rem !important;
    }

    .box-1 {
      p {
        display: none;
      }
    }
    .foot {
      display: block !important;
    }
  }
}
